<h1>Patients#show</h1>
<p>Find me in app/views/patients/show.html.erb</p>

<% @patient.appointments.each do |app| %>
<p> <%= link_to app.doctor.name, doctor_path(app.doctor) %> | <%=app.time %></p>
<% end %>
